<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.autochthonoustech.planingattacks">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/baseline_done_all_black_36"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/baseline_done_all_black_36"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.autochthonoustech.planingattacks.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.autochthonoustech.planingattacks.EnemyTarget"
            android:label="@string/app_name"
            android:parentActivityName="com.autochthonoustech.planingattacks.MainActivity"
            tools:targetApi="jelly_bean"/>
        <activity android:name="com.autochthonoustech.planingattacks.MyCities"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName="com.autochthonoustech.planingattacks.MainActivity"
            tools:targetApi="jelly_bean"/>
        <activity android:name="com.autochthonoustech.planingattacks.AddMyCity"
            android:label="@string/app_name"
            android:parentActivityName="com.autochthonoustech.planingattacks.MyCities"
            tools:targetApi="jelly_bean"/>
        <activity android:name="com.autochthonoustech.planingattacks.AddEnemy"
            android:label="@string/app_name"
            android:parentActivityName="com.autochthonoustech.planingattacks.EnemyTarget"
            tools:targetApi="jelly_bean"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7551305012895219~7432137772"/>
    </application>

</manifest>